.header {
  display: flex;
  align-items: center;
  gap: 18px;
  box-shadow: var(--section-box-shadow);
  padding: 0 var(--body-side-padding);
}

.header h1 {
  margin: 0;
}

.header nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.linksList {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 640px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.header a:link,
.header a:visited {
  color: inherit;
  text-decoration: none;
  text-wrap: nowrap;
}

.buttonGroup {
  display: flex;
  gap: 18px;
}

.button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.button svg {
  font-size: 1.6rem;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchInput {
  visibility: hidden;
  width: 0;
  opacity: 0;
  box-sizing: border-box;
  transition: width 0.5s ease, padding-left 0.5s ease, padding-right 0.5s ease,
    opacity 0.5s ease;
  border: none;
  background-color: inherit;
  color: var(--font-color-dark);
  font-size: 1rem;
}

.inputActive {
  visibility: visible;
  width: 200px;
  opacity: 1;
  padding: 0.3rem 1rem;
  border-bottom: 2px solid black;
}
