#root {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#app-main-content-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
